/**/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

#wrapper{
  margin: 0 120px;
}

.navflex{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  height: 100px;
}

.stilenav li{
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}

.stilenav li a{
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

.stilenav li a:hover{
color: black;
}

.sottomenu{
  display: none;
  position: absolute;
  top: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px lightgrey;
  padding: 18px;
}

.sottomenu li{
  display: block;
  padding: 14px 0;
}

.hamburger-menu{
  cursor: pointer;
  display: none;
}

.hamburger-menu div{
 width: 20px;
 height: 3px;
 background-color: black;
 margin: 6px 0;
 position: absolute;
 top: 10px;
 right: 120px;
}

.hamburger-menu-contenuto{
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stile-hamburger-menu{
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

.stile-hamburger-menu li a{
  color: grey;
}

.dropdown-hamburger{
  padding-top: 10px;

}

.stile-hamburger-menu li{
  list-style-type: none;
  padding: 10px 0;
}

.stile-hamburger-menu li a{
  text-decoration: none;
}

.fa-angle-down, .fa-times{
  position: absolute;
  right: 10px;
  color: grey;
  cursor: pointer;
}

.fa-times{
  font-size: 36px;
  cursor: pointer;
}


#getapp{
  background-color: rgb(235, 0, 141);
  padding: 10px 14px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
}
#getappp{
  background-color: rgb(235, 0, 141);
  padding: 10px 14px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
}

#revo{
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: bold;
}
/* media query per menu hamburger */


@media only screen and (max-width: 1200px) {

}

/* il menu va in modalita responsive a 992px */

@media only screen and (max-width: 1080px) {
  .hamburger-menu{
    cursor: pointer;
    display: block;
  }
.stilenav li a {
  display: none;
}
#getapp{
  display: none;
}
.hamburger-menu-contenuto{
}

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

}
